<div class="centering">
    <mat-card class="log-card">
        <h3 class="form-title"><b>BEJELENTKEZÉS</b></h3>
        <label>Felhasználónév</label>
        <input type="text" name="username" placeholder="user123" [(ngModel)]="username">
        <label>Jelszó</label>
        <input type="password" name="password" minlength="6" placeholder="Jelszó" [(ngModel)]="password">
        <br>
        <button type="submit" class="max-width" (click)="login()">BEJELENTKEZÉS</button>
        <br>
        <button class="max-width" [routerLink]="[ '/register' ]">REGISZTRÁCIÓ</button>
        <br>
        <h5 style="color: red;">{{ this.alertMessage }}</h5>
    </mat-card>
</div>